.topPadding {
	height: 25px;
}

.firstRow {
	width: 100%;
	height: 600px;
}

.cs2510Desktop {
	width: 90%;
	position: absolute;
	top: 0px;
	right: 3%;
}

.lernerMobile {
	width: 29%;	
	position: absolute;
	top: 50px;
	right: 10%;
}

.firstContainer {
	position: relative;
	height: 62%;
}

.firstRow > h1 {
	padding-bottom: 3px;
}