.topPadding {
  /*height: 25px;*/
}

.firstRow {
  margin-top: 0px !important;
  /*padding-top: 125px !important;*/
  height: 906px;
  width: 100%;
  overflow: hidden;
  background: rgb(125, 128, 121);
}

.firstRowText {
  color: white;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.firstRowText h1 {
  font-weight: 300;
  padding-bottom: 30px;
}

.firstRowTextInner {
  display: inline-block;
  max-width: 540px;
}

.firstRowTextInner > button {
  background: rgb(246, 104, 104) !important;
  box-shadow: 0px 5px 0px -2px rgb(215, 68, 68) !important;
}

.rightSideFirstRow {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding-left: 4% !important;
  overflow: hidden;
}

.firstRowImgContainer {
  display: inline-block !important;
}

.cs2510Desktop {
  width: 89%;
  z-index: 2;
  position: relative;
  border-radius: 5px;
}

.rotatedDiv {
  height: 50%;
  width: 50%;
  background: rgb(231, 83, 83);
  transform: rotate(65deg);
  float:right;
  /*display: none;*/
  position: absolute;
  position: absolute;    
  top: 27%;
  right: 29%;
}

/*

.lernerMobile {
	width: 29%;
	position: absolute;
	top: 50px;
	right: 10%;
}
*/

.firstPanelDesc {
  margin-top: 16px;
  margin-bottom: 50px;
  font-size: 25px;
  line-height: 1.3;
}



.firstRowImgDivHeightPadding {
  padding-top: 56%;
}

@media only screen and (max-width: 767px) {
  .cs2510Desktop {
    width: 181%;
    position: absolute;
    top: 0px;
    left: -6px;
  }

  .lernerMobile {
    width: 62%;
    top: 100px;
  }

  .firstRowImgDivHeightPadding {
    padding-top: 135%;
  }

  .firstRowMobilePadding {
    margin-bottom: 20px;
  }
}





/* This applies to all the H1s in the splash page. */

.splashPageContainer h1 {
  /*padding-bottom: 3px;*/
  font-size: 44px;
  /*color: rgb(90, 90, 90);*/
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.8px;
  line-height: 50px;
  /*font-weight: normal;*/
  max-width: 540px;
}



.engw1111Desktop {
  width: 90%;
}


@media only screen and (max-width: 767px) {
  .engw1111Desktop {
    margin-left: -20px;
    width: 184%;
  }
}


.leftSideSecondRow {
  padding-left: 8% !important;
}

.secondRow {
  margin-top: 50px !important;
}


.thirdRow {
  position: relative;
  padding-left: 10px;
}

.oodMobile1 {
  position: absolute;
  top: 0%;
  left: 16.8%;
  z-index: 2;
  width: 32.5%;
}

.oodMobile2 {
  position: absolute;
  top: 10%;
  left: 7%;
  width: 32.5%;
}

.cs2500Mobile {
  position: absolute;
  top: 0%;
  left: 63%;
  width: 32.5%;
  z-index: 2;
}

.cs2500Resultsmobile {
  position: absolute;
  top: 10%;
  left: 53%;
  width: 32.5%;
}


.thirdRowPadding {
  padding-top: 61%;
}



@media only screen and (max-width: 767px) {

  .thirdRowPadding {
    padding-top: 140%;
  }

  .oodMobile1 {
    position: absolute;
    top: 5%;
    left: 30%;
    z-index: 2;
    width: 65%;
  }

  .oodMobile2 {
    position: absolute;
    top: 10%;
    left: 55%;
    height: 90%;
	}
}
.splashPage{
	background: #f1f2f2;
	padding: 100px 0px;
  padding-top: 0px;
}
