.topPadding {
	height: 25px;
}

.firstRow {
	width: 100%;
}

.rightSideFirstRow {
    padding-left: 4% !important;
}

.cs2510Desktop {
	width: 90%;
	position: absolute;
	top: 0px;
	right: 3%;
}

.lernerMobile {
	width: 29%;	
	position: absolute;
	top: 50px;
	right: 10%;
}

.firstContainer {
	position: relative;
	height: 62%;
}

.firstRow h1 {
	padding-bottom: 3px;
	font-size: 44px;
    color: rgb(90, 90, 90);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: -0.8px;
    line-height: 50px;
    font-weight: normal;
    max-width: 540px;
}


.firstPanelDesc {
	max-width: 413px;
    margin-top: 16px;
    margin-bottom: 23px;
    font-size: 16px;
}


.engw1111Desktop {
	width: 90%;
}


.leftSideSecondRow {
	padding-left: 8% !important;
}

.secondRow {
	margin-top: 50px !important;
	/*height: 500px;*/
}


.thirdRow {
	position: relative;
	padding-left: 10px;
}

.oodMobile1 {
    position: absolute;
    top: 0%;
    left: 16.8%;
    /*height: 90%;*/
    z-index: 2;
    width: 32.5%;
}

.oodMobile2 {
    position: absolute;
    top: 10%;
    left: 7%;
    width: 32.5%;
}

.cs2500Mobile {
    position: absolute;
    top: 0%;
    left: 63%;
    width: 32.5%;
    z-index: 2;
}

.cs2500Resultsmobile {
    position: absolute;
    top: 10%;
    left: 53%;
    width: 32.5%;
}