.active-filters {
  display: flex;
  align-items:  center;
  padding: 10px 0;
  height: 50px;

  &__label {
    font-weight: bold;
    margin-right: 7px;
    flex-shrink: 0;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    margin-left: -5px;
    margin-bottom: -5px;
  }
}
