.ClassTypeFilter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 290px;
    width: 300px;

    &__element {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__element > input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 18px;
        width: 18px;
    }

    &__checkbox {
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid gray;
    }
    &__text {
        margin-left: 28px
    }

}