.FilterPanel {
grid-area: FilterPanel;
height: 100%;
position: fixed;
width: 268px;
background-color: #F0F0F0;
top: 0;

}


.Dummy {
    height: 20px;
    width: 140px;
    background-color: blueviolet;
    
}