.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 45px;
  height: 20px;
  background: #d3d3d3;
  border-radius: 36px;
  transition: background-color 0.01s;

  .react-switch-button {
    content: "";
    position: relative;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: 0.2s;
    background: #a0a0a0;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
}

.react-switch-label:active .react-switch-button {
  width: 15px;
}

.react-switch-checkbox:checked + .react-switch-label {
  background: #ca9897;

  .react-switch-button {
    background: #ae4543;
    left: 100%;
    transform: translateX(-100%);
  }
}

.toggleFilter {
  display: flex;
  justify-content: space-between;
}

.toggleSwitch {
  display: flex;
}
