div.positive, .ui.table td.positive {
	background-color: rgba(46, 204, 64, 0.1)!important;
}
div.positive p, .ui.table td.positive p {
	color: rgba(45, 135, 46, 0.91);
}
div.negative, .ui.table td.negative {
	background-color: rgba(255, 65, 54, 0.1)!important;
}
div.negative p, .ui.table td.negative p {
	color: rgba(195, 45, 42, 0.7);
	margin-top: 10px;
}
div.progress, .ui.table td.progress {
	background-color: rgba(255, 133, 27, 0.15)!important;
}
div.progress p, .ui.table td.progress p {
	color: rgba(195, 99, 27, 0.51);
}
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
	margin: 0;
	padding: 0;
}
html, body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}
html {
	font-size: 18px;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
img {
	border: none;
}
a {
	color: #009FDA;
	text-decoration: none;
}
body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #505050;
	line-height: 22px;
	background: none;
}
p {
	margin: 1em 0;
}
.website-table .left, .website-table .right {
	display: inline-block;
	height: 100%;
	line-height: 2em;
}
.website-table .left {
	width: 60%;
}
.website-table .left .name {
	font-size: 22px;
	font-weight: 300;
}
.website-table .left p {
	margin-top: 10px;
}
.website-table .right {
	float: right;
	padding-left: 30px;
	width: 40%;
}
.ui.inverted.teal.menu {
	border-radius: 0;
}
#top-header > .centerTextContainer {
    padding-bottom: 8%
}
#top-header .sub.header {
	margin: 10px auto;
	max-width: 80%;
}
#search-wrapper {
	margin: 40px auto;
	position: relative;
	text-align: left;
    width: 782px;
}
#search-wrapper label {
	left: 17px;
	position: absolute;
	top: 12px;
}
#search-wrapper label i {
	color: #ef6e7e;
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type=search] {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	border: 1px #E3E3E3 solid;
	border-radius: 30px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	display: block;
	padding: 10px 45px;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type=search]:focus {
	border-color: rgba(239,110,126,.5);
	box-shadow: 0 0 10px rgba(239,110,126, .5);
	outline: none;
}
.active-icon, .category h5 i:hover {
	background-color: #ef6e7e;
	color: white;
}
.active-icon+small, .category h5 i:hover+small {
	color: #389B9B;
}
.ui.grid>.row {
	padding: 0;
}
.desktop-table {
	padding: 18px 0;
}
.category {
	cursor: pointer;
	padding-top: 20px;
	text-align: center;
}
.category h5 i {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.ui.table td.twitter {
	text-align: center;
}
.website-table {
	margin: auto;
	position: relative;
	width: 90vw;
	z-index: 1000;
}
.mobile-table {
	display: none;
}
.mobile-table .label {
	display: none;
	padding: 15px 0;
	text-align: center;
}
.mobile-table .jets-content {
	border: 1px groove rgba(34, 36, 38, 0.14902);
	border-radius: 5px;
	margin: 0 auto 40px auto;
	width: 90%;
}
.mobile-table .jets-content>div {
	border-bottom: 1px groove rgba(34, 36, 38, 0.14902);
	padding: 2em;
}
.mobile-table .jets-content .button {
	padding: 1em;
	width: 100%;
}
.mobile-table .jets-content .button i.book.icon {
	margin-bottom: 2px;
	vertical-align: bottom;
}
.mobile-table .jets-content p {
	font-weight: 700;
	font-size: 14px;
}
.ui.table td.main {
	line-height: 2em;
}
.ui.table td.icon {
	text-align: center;
	width: 10%;
}
td img.icon, .left img {
	-webkit-box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset;
	background-color: white;
	border-radius: 50%;
	float: left;
	padding: 4px 4px;
	height: 2em;
	line-height: 1;
	margin-right: 0.8em;
}
.ui.celled.table tr td.main a, .ui.celled.table .exception, .ui.celled.table .exception * {
	padding-left: 3%;
	margin-bottom: 5px;
	vertical-align: top;
}
span.progress {
	padding-left: 10%;
}
@media (max-width: 768px) {
	.mobile-table {
		display: block;
	}
	.desktop-table {
		display: none;
	}
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%, 100% {
		transform: rotate(0);
	}
	20%, 60% {
		transform: rotate(-25deg);
	}
	40%, 80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

.ui.segment:first-child {
     margin-top: 1rem !important;
}
