.header {
    background: #fafafb;
    padding: 11px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
.container {
    padding: 0px !important;
    font-size: 16px !important;
}
.body {
    padding: 20px;
}

.inlineBlock{
	display: inline-block;
}

.contactBox {
    vertical-align: top;
    min-width: 300px;
}

.addressBox {
	padding-left: 100px;
}

.link {
    opacity: .8;
    float: right;
}