@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');



.topHeader {
    padding: 3em 0 !important;;
    display: flex !important;;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
    transition: width 2s, height .75s;
}
.topHeaderNoText {
    height: 100%;
}

.displayNone {
    display: none;
}

@media only screen and (max-width: 767px) {
    .topHeader {
        padding-bottom: 20px !important;
    }
}

.title {
    font-size: 54px;
    color: rgb(174, 69, 67);
    font-weight: 400;
    font: Roboto, 'Segoe UI', Tahoma, sans-serif;
}


.subtitle {
    color: #a3a3a3 !important;
    font-size: 27px !important;
    font-weight: 200;
    margin: 10px 0px 25px 0px;
}
.semester {
    color: grey !important;
    font-size: 19px !important;
    padding-bottom: 30px !important;
}


@media only screen and (max-width: 767px) {
    .title {
        color: rgb(174, 69, 67);
        font-size: 45px;
        color: rgb(174, 69, 67);
        font-weight: 400;
    }

    .subtitle {
        font-size: 22px !important;
    }
}



.githubCornerIcon {
    fill: rgba(175, 174, 171, 1);
    color: #FFFFFF;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}
.octopusArm {
    transform-origin: 130px 106px;
}
.noResultsContainer {
    font-size: 19px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 100px;
}
.noResultsInputText {
    display: inline-block !important;
    padding: 5px !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
    font-size: inherit !important;
}
.noResultsBottomLine {
    padding-top: 7px;
}
.hitEnterToSearch {
    padding-top: 42px;
}
.listIconTooltip {
    font-size: 14px !important;
    z-index: 999999;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 7px !important;
    white-space: nowrap !important;
}
.credits {
    margin-bottom: 5px !important;
    padding-bottom: 0 !important;
}
.contact {
    margin: 0 !important;
    padding: 0 !important;
    /*margin-top: -32px !important;*/
    font-size: 14px !important;
    padding-bottom: 30px !important;
}
.contact > a {
    padding-right: 1px;
    padding-left: 1px;
}
.aounContainer {
    text-align: center;
    padding-bottom: 40px;
}
.aounContainer > img {
    box-shadow: 0 0 20px 12px #ef6e7e;
    max-width: 100%;
}

.logo {
  position: absolute;
  height: 30px;
  top: 40px;
  left: 40px;
}
.bostonContainer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
.boston {
  width: 1500px;
  max-width: 90%
}
