@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.displayNone {
    display: none;
}


.topHeader {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px !important;
}

.mobileCompact .topHeader {
    padding: 0 !important;
    display: inherit !important;
    align-items: inherit;
    justify-content: inherit;
    margin-bottom: 0px !important;
    height: initial;
}

.title {
    color: rgb(174, 69, 67);
    font-weight: 400;
    font: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.mobileCompact .title {
    line-height: 1.1;
    padding-top: 15px;
}

.subtitle {
    color: #a3a3a3 !important;
    font-weight: 200;
}

.logo {
    position: absolute;
    height: 30px;
    top: 40px;
    left: 40px;
    z-index: 10;
    cursor: pointer;
}

.mobileCompact .logo {
    display: none;
}
.bostonContainer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    transition-delay: 1s;
}
.boston {
    width: 1500px;
    max-width: 90%
}


/* Don't show the boston container or the logo if the width of the screen is mobile or less and the height is also very (keyboard is open).  */

.mobileCompact .bostonContainer {
    display: none;
}




/* Title and subtitle area. Desktop only. */

@media only screen and (min-width: 767px) {
    .topHeader {
        padding: 3em 0 !important;
        /*transition: height .75s;*/
        transition: transform .75s;
    }
    .resultsContainer {
        transition: transform .75s;
    }
    .title {
        font-size: 54px;
    }

    .subtitle {
        font-size: 27px !important;
        margin: 10px 0px 25px 0px;
    }
}


/* Title and subtitle area. Mobile only. */

@media only screen and (max-width: 767px) {
    .topHeader {
        padding-bottom: 20px !important;
        height: 100%;
    }
    .title {
        font-size: 45px;
    }

    .subtitle {
        font-size: 22px !important;
        max-width: 76%;
        margin: 0 auto;
    }
}




/* Github corner. */

.githubCornerIcon {
    fill: rgba(175, 174, 171, 1);
    color: #FFFFFF;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    z-index: 10;
}
.octopusArm {
    transform-origin: 130px 106px;
}

.mobileCompact .githubCornerIcon {
    display: none;
}








/* No results text. */

.noResultsContainer {
    font-size: 19px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 100px;
}
.noResultsInputText {
    display: inline-block !important;
    padding: 5px !important;
    padding-left: 9px !important;
    padding-right: 9px !important;
    font-size: inherit !important;
}
.noResultsBottomLine {
    padding-top: 7px;
}



/* Styles on tooltips that appear on desktop in the ClassPanel.js. Need to pass in the styles once, in Home.js, and not in every ClassPanel that appears. */

.listIconTooltip {
    font-size: 14px !important;
    z-index: 999999;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-radius: 7px !important;
    white-space: nowrap !important;
}


/* For when Aoun shows up. */

.aounContainer {
    text-align: center;
    padding-bottom: 40px;
}
.aounContainer>img {
    box-shadow: 0 0 20px 12px #ef6e7e;
    max-width: 100%;
}



.hitEnterToSearch {
    display: none;
}


.mobileCompact .hitEnterToSearch {
    display: block;
    padding-top: 14px;
}

.mobileCompact .splashPage {
    display: none;
}




/* Footer. */

.credits {
    margin-bottom: 5px !important;
    padding-bottom: 0 !important;
}
.contact {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
    padding-bottom: 30px !important;
}
.contact>a {
    padding-right: 1px;
    padding-left: 1px;
}


/* Move the footer down in compact mode so you can't see the top of it when typing. */

.mobileCompact .footer {
    padding-top: 30px;
}