.header {
    background: #fafafb;
    padding: 11px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
.container {
    padding: 0px !important;
    font-size: 16px !important;
}
.body {
    padding: 20px;
}
.resultsTable {
    border: none !important;
}
.resultsTable th {
    border-left: none !important;
    background: none !important;
}
.weekDayBox {
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 2px solid #BBBBBB;
    border-radius: 3px;
    margin-right: 1px;
    margin-left: 1px;
}
.weekDayBoxChecked {
    background: #888;
}
.inlineBlock {
    display: inline-block;
}
.leftPanel {
    text-align: left;
    display: inline-block;
    line-height: 15px;
    width: calc(100% - 200px);
}
.rightPanel {
    text-align: right;
    display: inline-block;
    float: right;
    white-space: normal;
    max-width: 200px;
    min-width: 53px;
}
