.Results_Header {
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
  z-index: 9999;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: left;
  position: fixed;
}

.Results__spacer {
  min-width: 10px;
  flex-basis: 100px;
  flex-shrink: 3;

  @media only screen and (max-width: 767px) {
    flex-basis: 10px;
  }
}

.Results_TermDropDown {
  height: 38px;
  max-width: 300px;
  flex-shrink: 0;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  pointer-events: initial;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 1.5px;
  color: #636363 !important;
  white-space: nowrap !important;
  display: flex !important;

  & i {
    align-content: flex-end;
  }
}

.Results__Logo {
  height: 25px;
  z-index: 10;
  cursor: pointer;
  margin-left: 32px;

  &--sm {
    display: none;
  }

  @media only screen and (max-width: 767px) {
    display: none;

    &--sm {
      display: block;
      margin-left: 10px;
      height: 20px;
    }
  }
}

.Results__searchwrapper {
  flex-basis: 538px;
  flex-shrink: 1;
}

.Results_Container {
  padding-top: 84px;
}

.Results_EmptyContainer {
  font-size: 19px;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 100px;
}

.Results_EmptyBottomLine {
  padding-top: 7px;
}

.Results_EmptyText {
  display: inline-block !important;
  padding: 5px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  font-size: inherit !important;
}
