$TOPNAV_HEIGHT: 60px;
$SIDEBAR_WIDTH: 268px;

.Results_Header {
  width: 100%;
  height: $TOPNAV_HEIGHT;
  left: 0;
  top: 0;
  z-index: 9999;
  background: #fff;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: left;
  position: fixed;
  box-shadow: 0 0 10px rgba(31, 33, 38, 0.5);
  border-bottom: 1px solid #fff;

  &-top {
    box-shadow: none;
    border-bottom: 1px solid #ddd;
  }
}

.Results__spacer {
  min-width: 10px;
  flex-basis: 100px;
  flex-shrink: 3;

  @media only screen and (max-width: 767px) {
    flex-basis: 10px;
  }
}

.Results__Logo {
  height: 25px;
  z-index: 10;
  cursor: pointer;
  margin-left: 32px;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.Results__searchwrapper {
  flex-basis: 538px;
  flex-shrink: 2;
}

.Results_Container {
  padding-top: $TOPNAV_HEIGHT;
  display: flex;
}

.Results_SidebarWrapper {
  position: fixed;
  width: $SIDEBAR_WIDTH;
  top: $TOPNAV_HEIGHT;
  bottom: 0;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  background-color: #f6f6f6;
  padding: 25px 15px 25px 15px;
}

.Results_SidebarSpacer {
  flex-basis: $SIDEBAR_WIDTH;
  flex-shrink: 0;
}

.Results_Main {
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
  flex-grow: 1;
  max-width: 1800px;

  @media only screen and (max-width: 1000px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

// TODO make this a spiner, but need to fix ResultsLoader rerender issue first
.Results_Loading {
  height: 0;
}

.Results_EmptyContainer {
  font-size: 19px;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 100px;
}

.Results_EmptyBottomLine {
  padding-top: 7px;
}

.Results_EmptyText {
  display: inline-block !important;
  padding: 5px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  font-size: inherit !important;
}
