.header {
    background: #fafafb;
    padding: 11px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
.container {
    padding: 0px !important;
    font-size: 16px !important;
}
.body {
    padding: 20px;
}
.inlineBlock {
    display: inline-block;
}
.contactBox {
    vertical-align: top;
    min-width: 300px;
}
.desktopSecondColumn {
    padding-left: 100px;
}
.mobileSecondColumn {
    padding-top: 20px;
}
.link {
    opacity: .8;
    float: right;
}

/* These were copied from class panel. */
.chevron {
  width: 18px;
  opacity: .6;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 2px;
}
.displayNone {
    display: none;
}
.titleText {
  display: inline-block;
  max-width: calc(100% - 30px);
  font-size: 19px;
}