.footer {
  text-align: center;
}

.nav {
  margin: 30px 0 20px 0;
}

.users-pagination {
  margin-top: 0;
}

.page-user-edit form {
  width: 500px;
  margin-top: 40px;
}

.progress {
  margin: 10px auto;
  width: 300px;
}